[tool.poetry]
name = "geococo"
version = "0.3.0"
description = "Converts GIS annotations to Microsoft's Common Objects In Context (COCO) dataset format"
authors = ["Jasper <j.siebring92@gmail.com>"]
readme = "README.md"
packages = [
    {include = "geococo"}
]

[tool.poetry.scripts]
geococo = "geococo.cli:build_coco"

[tool.poetry.dependencies]
python = "^3.8"
rasterio = "^1.3.8"
geopandas = "^0.13.2"
opencv-python-headless = "^4.8.0.76"
pycocotools = "^2.0.7"
pydantic = "^2.2.1"
tqdm = "^4.66.1"
typing-extensions = "^4.7.1"
typer-cloup = "^0.11.0"
docstring-parser = "^0.15"
semver = "^3.0.1"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
mypy = "^1.5.1"
black = "^23.7.0"
ruff = "^0.0.285"
types-pycocotools = "^2.0.0.4"
types-tqdm = "^4.66.0.2"
docformatter = {extras = ["tomli"], version = "^1.7.5"}
pytest-cov = "^4.1.0"

[[tool.mypy.overrides]]
module = [
    "rasterio.*",
    "geopandas",
    "shapely.*"
]
ignore_missing_imports = true

[tool.ruff]
line-length = 88

[tool.ruff.per-file-ignores]
"geococo/__init__.py" = ["F401"]

[tool.docformatter]
black = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"